.markdown {
  @apply text-2xl leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
  font-size: 1.8rem;
  text-align:justify;
}

.markdown h1 {
  @apply mt-12 mb-4 leading-snug;
  font-size: 3.2rem;
}

.markdown h2 {
  @apply text-4xl mt-12 mb-4 leading-snug;
  font-weight: bold;
  color: rgb(90, 88, 233);
}

.markdown h3 {
  @apply text-3xl mt-8 mb-4 leading-snug;
  font-weight: bold;
}

.markdown li{
  list-style: square;
  margin-left:30px;
}


.markdown a {
  color:#000;
  text-decoration-line: underline;
  text-decoration-color: hsl(47, 100%, 69%);
}
